@font-face {
  font-family: 'HK Grotesk Medium Legacy';
  font-style: normal;
  font-weight: normal;
  src: local("HK Grotesk Medium Legacy"), url("fonts/HKGrotesk-MediumLegacy.woff") format("woff");
}

@font-face {
  font-family: 'HK Grotesk Light';
  font-style: normal;
  font-weight: normal;
  src: local("HK Grotesk Light"), url("fonts/HKGrotesk-Light.woff") format("woff");
}

@font-face {
  font-family: 'HK Grotesk SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local("HK Grotesk SemiBold"), url("fonts/HKGrotesk-SemiBold.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: 'HK Grotesk Medium Legacy';
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-x: hidden;
}

body .landing_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1000px;
}

.menubar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  padding: 20px 0;
}

.menubar .logo {
  position: relative;
  width: 90px;
}

.menubar .logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menubar nav {
  width: 450px;
}

.menubar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  height: 100%;
}

.menubar nav ul li {
  width: 25%;
  height: 100%;
  text-align: left;
}

.menubar nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  text-decoration: none;
  color: #506690;
  font-size: 17.5px;
}

.menubar nav ul li a:hover {
  color: #335eea;
  cursor: pointer;
}

.menubar button {
  position: relative;
  background-color: #335eea;
  color: white;
  font-size: 16px;
  padding: 14px 20px;
  border: 1px solid transparent;
  border-radius: 7px;
  bottom: 0px;
  text-align: center;
  -webkit-transition: bottom .2s , background-color .1s;
  transition: bottom .2s , background-color .1s;
}

.menubar button:hover {
  background-color: #2b50c7;
  cursor: pointer;
  bottom: 3px;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1) !important;
          box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1) !important;
}

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 165px;
}

.landing .motto {
  position: relative;
  bottom: 0px;
  opacity: 1;
  width: 50%;
  -webkit-transition: .5s;
  transition: .5s;
}

.landing .motto.invisible {
  position: relative;
  bottom: -60px;
  opacity: 0;
}

.landing .motto h1 {
  font-family: 'HK Grotesk Light';
  color: #161c2d;
  width: 100%;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: .5px;
}

.landing .motto h1 span {
  color: #335eea;
}

.landing .motto p:first-of-type {
  margin-top: 15px;
  margin-bottom: 5px;
}

.landing .motto p {
  font-family: 'HK Grotesk Light';
  font-weight: normal;
  color: #869ab8;
  font-size: 22px;
}

.landing .motto p:last-of-type {
  margin-bottom: 45px;
}

.landing .motto button:first-of-type {
  position: relative;
  background-color: #335eea;
  color: white;
  font-size: 16px;
  padding: 16px 25px;
  border: 1px solid transparent;
  border-radius: 7px;
  bottom: 0px;
  text-align: center;
  -webkit-transition: bottom .2s , background-color .1s;
  transition: bottom .2s , background-color .1s;
}

.landing .motto button:first-of-type:hover {
  background-color: #2b50c7;
  cursor: pointer;
  bottom: 3px;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1) !important;
          box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1) !important;
}

.landing .motto button:last-of-type {
  position: relative;
  background-color: #eaeffd;
  color: white;
  font-size: 16px;
  padding: 16px 25px;
  border: 1px solid transparent;
  border-radius: 7px;
  bottom: 0px;
  text-align: center;
  -webkit-transition: bottom .2s , background-color .1s;
  transition: bottom .2s , background-color .1s;
  color: #335eea;
}

.landing .motto button:last-of-type:hover {
  background-color: #e1e7fc;
  cursor: pointer;
  bottom: 3px;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1) !important;
          box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1) !important;
}

.landing .landing_img {
  position: relative;
  bottom: 0px;
  opacity: 1;
  width: 50%;
  -webkit-transition: .7s .2s;
  transition: .7s .2s;
}

.landing .landing_img.invisible {
  position: relative;
  bottom: -60px;
  opacity: 0;
}

.landing .landing_img img {
  position: relative;
  bottom: 60px;
}

.landing .fav1 {
  position: relative;
  bottom: 0px;
  opacity: 1;
  width: 32%;
  margin-top: 10px;
  -webkit-transition: .5s;
  transition: .5s;
}

.landing .fav1.invisible {
  position: relative;
  bottom: -60px;
  opacity: 0;
}

.landing .fav1 p:first-of-type {
  color: #161c2d;
  font-size: 22px;
  margin: 15px 0px;
}

.landing .fav1 p:last-of-type {
  color: #869ab8;
  font-size: 17px;
  line-height: 170%;
  font-family: 'HK Grotesk Light';
}

.landing .fav2 {
  position: relative;
  bottom: 0px;
  opacity: 1;
  width: 32%;
  margin-top: 10px;
  -webkit-transition: .6s .1s;
  transition: .6s .1s;
}

.landing .fav2.invisible {
  position: relative;
  bottom: -60px;
  opacity: 0;
}

.landing .fav2 p:first-of-type {
  color: #161c2d;
  font-size: 22px;
  margin: 15px 0px;
}

.landing .fav2 p:last-of-type {
  color: #869ab8;
  font-size: 17px;
  line-height: 170%;
  font-family: 'HK Grotesk Light';
}

.landing .fav3 {
  position: relative;
  bottom: 0px;
  opacity: 1;
  width: 32%;
  margin-top: 10px;
  -webkit-transition: .7s .2s;
  transition: .7s .2s;
}

.landing .fav3.invisible {
  position: relative;
  bottom: -60px;
  opacity: 0;
}

.landing .fav3 p:first-of-type {
  color: #161c2d;
  font-size: 22px;
  margin: 15px 0px;
}

.landing .fav3 p:last-of-type {
  color: #869ab8;
  font-size: 17px;
  line-height: 170%;
  font-family: 'HK Grotesk Light';
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border-top: 1px solid #eaeffd;
  border-bottom: 1px solid #eaeffd;
  margin-top: 100px;
}

.logos .logos_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1000px;
  height: 140px;
}

.texttyping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #fafcfe;
}

.texttyping .texttyping_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1000px;
  padding: 100px 0;
}

.texttyping .texttyping_container .form {
  position: relative;
  bottom: 0;
  width: 390px;
  height: 620px;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 7px 32px 24px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 7px 32px 24px rgba(0, 0, 0, 0.04);
  overflow: hidden;
  -webkit-transition: .7s;
  transition: .7s;
  left: 0;
}

.texttyping .texttyping_container .form.invisible {
  position: relative;
  left: -120px;
  opacity: 0;
}

.texttyping .texttyping_container .form:hover {
  bottom: 3px;
}

.texttyping .texttyping_container .texttyping_motto {
  position: relative;
  width: 500px;
  font-family: 'HK Grotesk Medium Legacy';
  text-align: left;
  left: 0;
  opacity: 1;
  -webkit-transition: .7s .2s;
  transition: .7s .2s;
}

.texttyping .texttyping_container .texttyping_motto.invisible {
  position: relative;
  left: 120px;
  opacity: 0;
}

.texttyping .texttyping_container .texttyping_motto p:first-of-type {
  font-size: 32px;
  color: #161c2d;
}

.texttyping .texttyping_container .texttyping_motto p:nth-of-type(2) {
  font-size: 32px;
  color: #42ba96;
  margin-bottom: 15px;
}

.texttyping .texttyping_container .texttyping_motto p:nth-of-type(2) span:first-of-type {
  display: inline-block;
  width: auto;
}

.texttyping .texttyping_container .texttyping_motto p:nth-of-type(2) .opacity_animate {
  display: inline-block;
  -webkit-animation: typingeffect .6s linear infinite;
          animation: typingeffect .6s linear infinite;
  opacity: 1;
}

.texttyping .texttyping_container .texttyping_motto p:nth-of-type(3) {
  font-size: 20px;
  line-height: 170%;
  color: #869ab8;
  font-family: 'HK Grotesk Light';
  margin-bottom: 45px;
}

.texttyping .texttyping_container .texttyping_motto .ticks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.texttyping .texttyping_container .texttyping_motto .ticks p {
  text-align: left;
  width: 220px;
  font-size: 18px;
  color: #42ba96;
  font-family: 'HK Grotesk Light';
}

.texttyping .texttyping_container .texttyping_motto .ticks p i {
  margin-right: 15px;
}

.texttyping .texttyping_container .form_picture {
  height: 50%;
  -webkit-clip-path: ellipse(100% 60% at 51% 40%);
          clip-path: ellipse(100% 60% at 51% 40%);
  background-image: url("../images/form_pic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.texttyping .texttyping_container .form_content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50%;
  padding: 25px;
}

.texttyping .texttyping_container .form_content form {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  left: 0;
  opacity: 1;
  -webkit-transition: .7s;
  transition: .7s;
}

.texttyping .texttyping_container .form_content form input {
  width: 95%;
  height: 25px;
  padding: 16px 0;
  border: none;
  border-bottom: 1px solid #e1e7fc;
  color: #506690;
  font-size: 16px;
  -webkit-transition: .3s;
  transition: .3s;
}

.texttyping .texttyping_container .form_content form input:focus {
  outline: none;
  border-bottom: 1px solid #42ba96;
  color: #506690;
}

.texttyping .texttyping_container .form_content form input::-webkit-input-placeholder {
  color: #869ab8;
  font-size: 16px;
  font-family: 'HK Grotesk Light';
}

.texttyping .texttyping_container .form_content form input:-ms-input-placeholder {
  color: #869ab8;
  font-size: 16px;
  font-family: 'HK Grotesk Light';
}

.texttyping .texttyping_container .form_content form input::-ms-input-placeholder {
  color: #869ab8;
  font-size: 16px;
  font-family: 'HK Grotesk Light';
}

.texttyping .texttyping_container .form_content form input::placeholder {
  color: #869ab8;
  font-size: 16px;
  font-family: 'HK Grotesk Light';
}

.texttyping .texttyping_container .form_content form button {
  position: relative;
  background-color: #42ba96;
  color: white;
  font-size: 16px;
  padding: 16px 80px;
  border: 1px solid transparent;
  border-radius: 7px;
  bottom: 0px;
  text-align: center;
  -webkit-transition: bottom .2s , background-color .1s;
  transition: bottom .2s , background-color .1s;
  margin-top: 30px;
}

.texttyping .texttyping_container .form_content form button:hover {
  background-color: #389e80;
  cursor: pointer;
  bottom: 3px;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1) !important;
          box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1) !important;
}

@-webkit-keyframes typingeffect {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typingeffect {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #fafcfe;
  padding: 20px 0;
}

.dashboard .dashboard_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1000px;
}

.dashboard .dashboard_container .dashboard_motto {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  width: 50%;
  font-family: 'HK Grotesk Medium Legacy';
  font-size: 32px;
  color: #161c2d;
  opacity: 1;
  left: 0px;
  -webkit-transition: .7s .2s;
  transition: .7s .2s;
}

.dashboard .dashboard_container .dashboard_motto.invisible {
  position: relative;
  left: -120px;
  opacity: 0;
}

.dashboard .dashboard_container .dashboard_motto p:nth-of-type(2) {
  color: #335eea;
  margin-bottom: 15px;
}

.dashboard .dashboard_container .dashboard_motto p:last-of-type {
  font-size: 20px;
  line-height: 170%;
  color: #869ab8;
  font-family: 'HK Grotesk Light';
  margin-bottom: 45px;
}

.dashboard .dashboard_container .dashboard_motto .listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: 'HK Grotesk Light';
}

.dashboard .dashboard_container .dashboard_motto .listing div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  margin-right: 20px;
}

.dashboard .dashboard_container .dashboard_motto .listing div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.dashboard .dashboard_container .dashboard_motto .listing div:last-child p {
  font-size: 18px;
}

.dashboard .dashboard_container .dashboard_motto .listing div:last-child p:first-child {
  margin-bottom: 9px;
}

.dashboard .dashboard_container .dashboard_img {
  width: 50%;
}

.dashboard .dashboard_container .dashboard_img img {
  display: block;
  position: relative;
  left: 0;
  opacity: 1;
  -webkit-transition: .7s;
  transition: .7s;
}

.dashboard .dashboard_container .dashboard_img img.invisible {
  position: relative;
  left: 120px;
  opacity: 0;
}

.aside_motto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #fafcfe;
  padding: 70px 0;
}

.aside_motto .aside_motto_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1000px;
}

.aside_motto .aside_motto_container div {
  text-align: center;
}

.aside_motto .aside_motto_container div p:first-child {
  color: #161c2d;
  font-size: 32px;
  margin-bottom: 15px;
  font-family: 'HK Grotesk Medium Legacy';
  padding-bottom: 0px;
}

.aside_motto .aside_motto_container div p {
  font-size: 20px;
  font-family: 'HK Grotesk Light';
  color: #869ab8;
  padding-bottom: 9px;
}

.banner_firstlayer {
  position: relative;
  width: 100%;
  background-color: #f1f4f8;
  height: 380px;
}

.banner_firstlayer .banner_secondlayer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-clip-path: ellipse(100% 50% at 8% 0%);
          clip-path: ellipse(100% 50% at 8% 0%);
  background-color: #fafcfe;
}

.banner_firstlayer .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 1000px;
  height: 380px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 15px;
  z-index: 3;
}

.banner_firstlayer .banner .banner_img {
  width: 50%;
  height: 100%;
  -webkit-clip-path: ellipse(68% 100% at 31% 31%);
          clip-path: ellipse(68% 100% at 31% 31%);
  background-image: url("../images/banner_img1.jpg");
  background-position: center;
  background-size: cover;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 15px;
}

.banner_firstlayer .banner .banner_img_invisible {
  background-image: url("../images/banner_img2.jpg");
  -webkit-transition: .2s;
  transition: .2s;
}

.banner_firstlayer .banner .banner_text {
  position: relative;
  width: 50%;
  height: 100%;
}

.banner_firstlayer .banner .banner_text .text_instagram, .banner_firstlayer .banner .banner_text .text_airbnb {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
  -webkit-transition: .1s;
  transition: .1s;
}

.banner_firstlayer .banner .banner_text .text_instagram p, .banner_firstlayer .banner .banner_text .text_airbnb p {
  margin: 40px 0;
  font-size: 20px;
  line-height: 170%;
  font-family: 'HK Grotesk Light';
}

.banner_firstlayer .banner .banner_text .text_instagram p:last-of-type, .banner_firstlayer .banner .banner_text .text_airbnb p:last-of-type {
  margin-bottom: 0px;
  font-size: 16px;
  font-family: 'HK Grotesk Medium Legacy';
  text-transform: uppercase;
  color: #869ab8;
}

.banner_firstlayer .banner .banner_text .text_invisible {
  opacity: 0;
  -webkit-transition: .1s;
  transition: .1s;
}

.banner_firstlayer .banner .arrowright {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  font-size: 50px;
  background-color: #335eea;
  cursor: pointer;
  border-radius: 50%;
}

.banner_firstlayer .banner .arrowright i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}

.banner_firstlayer .banner .arrowleft {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 50px;
  background-color: #335eea;
  cursor: pointer;
  border-radius: 50%;
}

.banner_firstlayer .banner .arrowleft i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #f1f4f8;
  padding: 140px 0;
}

.stats .stats_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 1000px;
}

.stats .stats_container .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  text-align: left;
  color: #161c2d;
  font-size: 32px;
}

.stats .stats_container .text p:nth-of-type(2) {
  font-size: 32;
  color: #335eea;
  margin-bottom: 15px;
}

.stats .stats_container .text p:last-of-type {
  font-size: 20px;
  line-height: 170%;
  font-family: 'HK Grotesk Light';
  color: #506690;
  margin-bottom: 45px;
}

.stats .stats_container .text div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.stats .stats_container .text div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.stats .stats_container .text div div p:first-of-type {
  font-size: 22px;
}

.stats .stats_container .text div div p:last-of-type {
  font-size: 18px;
  margin-top: 5px;
}

.stats .stats_container .img {
  width: 50%;
}

.stats .stats_container .img img {
  width: 480px;
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #f1f4f8;
  padding-bottom: 70px;
}

.pricing .pricing_container {
  width: 1000px;
  text-align: center;
}

.pricing .pricing_container p:first-of-type {
  font-size: 32px;
  margin-bottom: 15px;
}

.pricing .pricing_container p:last-of-type {
  font-size: 20px;
  color: #506690;
  line-height: 170%;
  font-family: 'HK Grotesk Light';
}

.pricing .pricing_container .switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 15px;
}

.pricing .pricing_container .switch .switch_button {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #d9e2ef;
  border-radius: 20px;
  border: 3px solid #d9e2ef;
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: background-color .2s border .2s;
  transition: background-color .2s border .2s;
}

.pricing .pricing_container .switch .switch_button .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: left .2s;
  transition: left .2s;
}

.pricing .pricing_container .switch .switch_button .circle_active {
  left: calc(100% - 20px);
  -webkit-transition: left .2s;
  transition: left .2s;
}

.pricing .pricing_container .switch .switch_button_active {
  background-color: #335eea;
  -webkit-transition: background-color .2s border .2s;
  transition: background-color .2s border .2s;
  border: 3px solid #335eea;
}

.pricing .pricing_container .switch p {
  font-size: 20px;
  font-family: 'HK Grotesk Light';
  color: #506690;
  margin-bottom: 0px;
}

.offert_firstlayer {
  position: relative;
  height: 560px;
  width: 100%;
  background-color: #1b2a4e;
}

.offert_firstlayer .offert_secondlayer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f1f4f8;
  -webkit-clip-path: ellipse(90% 49% at 49% 10%);
          clip-path: ellipse(90% 49% at 49% 10%);
}

.offert_firstlayer .offert_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1000px;
  height: 560px;
  z-index: 2;
}

.offert_firstlayer .offert_container .standardoffert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
  width: 50%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0.5rem 10rem rgba(22, 28, 45, 0.1) !important;
          box-shadow: 0 0.5rem 10rem rgba(22, 28, 45, 0.1) !important;
  opacity: 1;
  bottom: 0;
  -webkit-transition: .7s;
  transition: .7s;
}

.offert_firstlayer .offert_container .standardoffert.invisible {
  position: relative;
  bottom: -60px;
  opacity: 0;
}

.offert_firstlayer .offert_container .standardoffert p:first-of-type {
  text-transform: uppercase;
  font-family: 'HK Grotesk Medium Legacy';
  color: #335eea;
  background-color: #eaeffd;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 5px 10px;
  border-radius: 12px;
  margin-top: 48px;
}

.offert_firstlayer .offert_container .standardoffert p:nth-of-type(2) {
  font-size: 58px;
  margin: 20px 0;
}

.offert_firstlayer .offert_container .standardoffert p:nth-of-type(2) sup, .offert_firstlayer .offert_container .standardoffert p:nth-of-type(2) sub {
  font-family: 'HK Grotesk Light';
  font-size: 35px;
}

.offert_firstlayer .offert_container .standardoffert p:nth-of-type(3) {
  font-size: 18px;
  color: #869ab8;
  font-family: 'HK Grotesk Light';
}

.offert_firstlayer .offert_container .standardoffert ul {
  list-style: none;
  margin-top: 40px;
  margin-bottom: 48px;
}

.offert_firstlayer .offert_container .standardoffert ul li {
  margin-bottom: 18px;
  font-family: 'HK Grotesk Light';
  font-size: 18px;
}

.offert_firstlayer .offert_container .standardoffert ul li i {
  color: #42ba96;
  margin-right: 15px;
}

.offert_firstlayer .offert_container .standardoffert button {
  position: relative;
  background-color: #335eea;
  color: white;
  font-size: 16px;
  padding: 20px 80px;
  border: 1px solid transparent;
  border-radius: 7px;
  bottom: 0px;
  text-align: center;
  -webkit-transition: bottom .2s , background-color .1s;
  transition: bottom .2s , background-color .1s;
  width: 100%;
  border-radius: 0px;
  cursor: pointer;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 18px;
}

.offert_firstlayer .offert_container .standardoffert button:hover {
  background-color: #2b50c7;
  -webkit-transition: background-color .1s;
  transition: background-color .1s;
}

.offert_firstlayer .offert_container .enterpriseoffert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 50%;
  height: 90%;
  background-color: white;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1) !important;
          box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1) !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  bottom: 0;
  opacity: 1;
  -webkit-transition: .7s .2s;
  transition: .7s .2s;
}

.offert_firstlayer .offert_container .enterpriseoffert.invisible {
  position: relative;
  bottom: -60px;
  opacity: 0;
}

.offert_firstlayer .offert_container .enterpriseoffert p:first-of-type {
  text-transform: uppercase;
  font-family: 'HK Grotesk Medium Legacy';
  color: #335eea;
  background-color: #eaeffd;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 5px 10px;
  border-radius: 12px;
  margin-top: 48px;
}

.offert_firstlayer .offert_container .enterpriseoffert p:nth-of-type(2) {
  padding: 0 60px;
  line-height: 170%;
  font-size: 20px;
  text-align: center;
  color: #869ab8;
  font-family: 'HK Grotesk Light';
}

.offert_firstlayer .offert_container .enterpriseoffert button {
  position: relative;
  background-color: #e1e7fc;
  color: white;
  font-size: 16px;
  padding: 20px 80px;
  border: 1px solid transparent;
  border-radius: 7px;
  bottom: 0px;
  text-align: center;
  -webkit-transition: bottom .2s , background-color .1s;
  transition: bottom .2s , background-color .1s;
  width: 100%;
  border-radius: 0px;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  color: #506690;
  font-size: 18px;
}

.queries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1b2a4e;
  width: 100%;
  font-size: 18px;
  padding: 70px 0;
}

.queries .queries_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1000px;
}

.queries .queries_container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 495px;
}

.queries .queries_container div div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  padding: 25px 0;
  font-size: 30px;
}

.queries .queries_container div div:last-of-type {
  display: block;
  width: 90%;
  padding: 25px 0;
  margin-left: 10px;
}

.queries .queries_container div div:last-of-type p:first-of-type {
  margin-bottom: 10px;
  font-size: 20px;
  color: white;
  font-family: 'HK Grotesk Light';
  line-height: 33px;
}

.queries .queries_container div div:last-of-type p:last-of-type {
  color: #869ab8;
  line-height: 170%;
  font-family: 'HK Grotesk Light';
}

.getlandkit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #1b2a4e;
}

.getlandkit .getlandkit_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1000px;
  text-align: center;
}

.getlandkit .getlandkit_container p:first-of-type {
  text-transform: uppercase;
  font-family: 'HK Grotesk Medium Legacy';
  background-color: #203055;
  letter-spacing: 1px;
  color: #506690;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 12px;
  margin-bottom: 16px;
}

.getlandkit .getlandkit_container h1 {
  color: white;
  font-family: 'HK Grotesk Medium Legacy';
  font-weight: normal;
  font-size: 48px;
  margin-bottom: 16px;
}

.getlandkit .getlandkit_container p:nth-of-type(2), .getlandkit .getlandkit_container p:nth-of-type(3) {
  color: #869ab8;
  font-family: 'HK Grotesk Light';
  font-size: 18px;
  margin-bottom: 9px;
}

.getlandkit .getlandkit_container button {
  margin-top: 48px;
  position: relative;
  background-color: #42ba96;
  color: white;
  font-size: 16px;
  padding: 16px 25px;
  border: 1px solid transparent;
  border-radius: 7px;
  bottom: 0px;
  text-align: center;
  -webkit-transition: bottom .2s , background-color .1s;
  transition: bottom .2s , background-color .1s;
}

.getlandkit .getlandkit_container button:hover {
  background-color: #389e80;
  cursor: pointer;
  bottom: 3px;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1) !important;
          box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1) !important;
}

.passing {
  width: 100%;
  height: 100px;
  background-color: #f1f4f8;
}

.passing .passing_inner {
  width: 100%;
  height: 100%;
  -webkit-clip-path: ellipse(56% 55% at 50% 7%);
          clip-path: ellipse(56% 55% at 50% 7%);
  background-color: #1b2a4e;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #f1f4f8;
  padding: 96px 0;
}

.footer .footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1000px;
}

.footer .footer_container .footer_logos img {
  margin-bottom: 8px;
}

.footer .footer_container .footer_logos p {
  color: #506690;
  font-family: 'HK Grotesk Light';
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 170%;
}

.footer .footer_container .footer_logos i {
  color: #869ab8;
  font-size: 22px;
  padding-right: 10px;
  cursor: pointer;
}

.footer .footer_container div ul {
  list-style: none;
}

.footer .footer_container div ul li {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 170%;
  color: #869ab8;
  font-family: 'HK Grotesk Light';
}

.footer .footer_container div ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer .footer_container div ul .type {
  color: #506690;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.footer .footer_container div ul .type:hover {
  cursor: auto;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */